:root {
    --color: #171a19;
}


html, body {
    padding: 0;
    margin: 0;
}


header {
    display: flex;
    padding: 1%;
    color: rgb(188, 89, 218);
    background-color: grey;
}


header h1 {
    color: var(--color1);
    border-style: initial;
    background-color: darkgreen;
    border: solid;
    border-color: black;
    background-size: 90%;
    background-position-x: 30%;
    padding-right: 200px;
    text-align: left;
}


header nav ul {
    gap: 9px;
    font-size: larger;
    color: darkgreen;
    padding-left: 350px;
    text-align: right;
}


header button:hover {
    background-color: grey;
    cursor: pointer;
    transition: 1s;
}


header button {
    border-top: #0000;
    border-left: #0000;
    border-right: #0000;
    justify-content: space-between;
    background-color: #0000;
    color: green;
    font-weight: 800;
    font-size: larger;
    font-family: "Arial", "Helvetica", sans-serif;
}


/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
 
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
 
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
 
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
 
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 50px;
    color :black;
    border: solid;
    border-color: black;
    background-color: rgb(188, 89, 218);
  }
 
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .about-me p {
    width: 70%;
    font-weight: 600;
    padding-left: 50px;
  }
  
  .about-me h3 {
    flex-wrap: wrap;
    margin-left: 0px;
    font-size: 30px;
    text-align: left;
    padding: 10px;
    width: 20%;
    border-right: 5px solid darkgreen;
    font-weight: 1000;

  }
  
  .about-me {
    display: flex;
    width: 80%;
    color:rgb(188, 89, 218);
  }

  section p {
    width: 80%;
    color: black;
}

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#work h3 {
  padding-left: 12%;
}
  
.largeImg {
    width: 60%;
    max-height: 250px;
    object-fit: cover;
    margin: 40px;
}

.smallPicture {
    width: 250px;
    object-fit: cover;
    margin: 20px;
    max-height: 25px;
    scroll-padding-left: 400px;
    align-items: right;
}

#house {
  width: 600px;
  border-radius: 10px;
  border: solid;
}

#led {
  width: 300px;
  padding-left: 40px;
  border-radius: 8px;
}

#calc {
  width: 200px;
  padding-left: 150px;
}

#puzzle {
width: 350px;
padding-left: 20px;
}

#frog {
  width: 250px;
  padding-left: 60px;
  border-radius: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer nav {
justify-content: flex-end;
padding-top: 15px;
margin-right: 20px;
float: right;
font-size: 20px;
}
footer nav ul {
    list-style: none;
  }
  
  footer nav ul li {
    display: inline-block;
    margin-left: 10px;
    color: red;
    font-weight: 800;
  }



nav {
    display: block;
    unicode-bidi: isolate;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    padding-right: 100px;
}
